[submodule "src/contrib/vcpkg"]
	path = src/contrib/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "src/contrib/cppcore"]
	path = src/contrib/cppcore
	url = https://github.com/kimkulling/cppcore.git
